@page
@model MovieHub.Pages.ProjectInfosModel
@{
}

<!DOCTYPE html>
    <html>
    <head>
        <title>Informations du projet</title>
    </head>
    <body class="bg-dark">

        <h5 class="border-bottom bg-dark text-light border-warning border-3 pt-3 pb-2">Projet réalisé par Stéphane Hoang</h5>

        <div class="bg-body-secondary pt-5">
            <div class="p-3">
                <h5 class="text-danger">Technologies utilisées :</h5>

                <div class="list-unstyled">
                    <div>
                        <span class="font-weight-bold">Front-end :</span>
                        <ul>
                            <li>cshtml (Razor)</li>
                            <li>CSS</li>
                            <li>Bootstrap (avec Responsive Web Design)</li>
                        </ul>
                    </div>
                    <div>
                        <span class="font-weight-bold">Back-end :</span>
                        <ul>
                            <li>C#</li>
                            <li>ASP.NET</li>
                        </ul>
                    </div>
                    <div>
                        <span class="font-weight-bold">Services :</span>
                        <ul>
                            <li>API OMDb</li>
                        </ul>
                    </div>
                    <div>
                        <span class="font-weight-bold">Base de données :</span>
                        <ul>
                            <li>sqlite</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>